header {
    font-size: 85spx;
    text-align: center;

}

/* li {
    display: inline;
    text-align: right;
    font-size: 25px;
    padding: 20px;
    background-color: grey;
} */


body {
    margin: 0 auto;
    background: black;
    color: white;
    font-family: 'Cinzel', serif;

}

main {
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    background: black;
    color: white;
    margin-top: 40px;
    width: auto;
}

h1 {
    text-align: center;
    font-size: 45px;
}


h2 {
    background-color: black;
    color: white;
    text-align: left;
    margin: 0;
    padding: 45px 0;
    font-family: 'Cinzel', serif;
} 

p {
    font-size: 30px;
}

[data-tab-content] {
    /* display: none; */
}

.active[data-tab-content] {
    display: block;
}

.houses-container {
    margin-top: -35px;
}

.landing {
    margin: 0;
    display: none;
}

.active {
    display: inline-block;
}

.house {
    padding: 30px;
    font-size: 30px;
    background: black;
    padding: 0;
    display: none;
}

.houseimage {
    width: 80%;
    background-size: cover;
    background-position: center;
    display: block;
    height: 1000px;
    margin: auto;
}

.house__image {
    display: inline-block;
    width: 75%;
    height: 1000px;
}

.house__info {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.tabs {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 20px;
    background-color: grey;
    list-style-type: none;
}

.starkimgdiv {
    width: 60%;
    height: 60%;
    background-image: url(./stark.jpg);
    background-size: cover;
    background-position: center; 
}

